# File: vault/pipelines/dependency-builder.yaml
trigger: none

parameters:
  - name: nodeVersion
    type: string
    default: '18'
  - name: azureServiceConnection
    type: string
    default: 'MyServiceConnection'
  - name: storageAccountName
    type: string
    default: 'mystorageacct'
  - name: containerName
    type: string
    default: 'artifacts'

variables:
  artifactName: 'node-dependencies-v${{ parameters.nodeVersion }}.zip'
  workingDir: '$(System.DefaultWorkingDirectory)/vault/node${{ parameters.nodeVersion }}'

stages:
  - stage: BuildNodeDependencies
    displayName: "Build Node Dependencies"
    jobs:
      - job: Build
        displayName: "Clean & Package Dependencies"
        steps:
          - checkout: self

          - task: NodeTool@0
            inputs:
              versionSpec: '${{ parameters.nodeVersion }}'
            displayName: "Setup Node.js ${{ parameters.nodeVersion }}"

          - script: |
              cd ${{ variables.workingDir }}
              node -v
              npm ci
              npm audit fix --force
              npm dedupe
              npm prune --production
            displayName: "Clean dependencies"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '${{ variables.workingDir }}/node_modules'
              includeRootFolder: false
              archiveFile: '$(Build.ArtifactStagingDirectory)/${{ variables.artifactName }}'
            displayName: "Archive dependencies"

          - publish: '$(Build.ArtifactStagingDirectory)/${{ variables.artifactName }}'
            artifact: '${{ parameters.nodeVersion }}'
            displayName: "Publish dependency artifact"

          - task: AzureCLI@2
            inputs:
              azureSubscription: '${{ parameters.azureServiceConnection }}'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az storage blob upload \
                  --account-name ${{ parameters.storageAccountName }} \
                  --container-name ${{ parameters.containerName }} \
                  --file "$(Build.ArtifactStagingDirectory)/${{ variables.artifactName }}" \
                  --name "dependencies/${{ variables.artifactName }}"
            displayName: "Upload to Azure Blob"
