trigger: 
  branches:
    include:
      - main
      - releases/*
pool: Default
parameters:
  - name: nodeVersion
    type: string
    default: '18'
    values:
      - '18'
      - '20'
      - "16"
# variables:
  
steps:
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '${{parameters.nodeVersion}}'
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '${{parameters.nodeVersion}}'
    nodejsMirror: '$(System.DefaultWorkingDirectory)/vault/node${{parameters.nodeVersion}}'

    