trigger:
  branches:
    include:
      - main

parameters:
  - name: nodeVersion
    displayName: "Select Node Version"
    type: string
    default: '18'
    values:
      - '16'
      - '18'
      - '20'

pool: Default


variables:
  storageAccountName: 'mystorageaccount'
  containerName: 'node-deps'
  blobFileName: 'node$(nodeVersion).zip'
  workDir: '$(System.DefaultWorkingDirectory)'
steps:
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '${{parameters.nodeVersion}}'
- task: CmdLine@2
  inputs:
    script: 'npm install'
    workingDirectory: '$(System.DefaultWorkingDirectory)/vault/node${{parameters.nodeVersion}}'

- task: CmdLine@2
  inputs:
    script: |
      npm prune --production
      zip -r node${{parameters.nodeVersion}} node_modules/
    workingDirectory: '(System.DefaultWorkingDirectory)/vault/node${{parameters.nodeVersion}}'